#vim: ft=yml
---
beacon_url: '{{ eth_val_watcher_bn_url }}'
beacon_timeout_sec: {{ eth_val_watcher_bn_timeout_sec }}
network: {{ eth_val_watcher_network }}
metrics_port: {{ eth_val_watcher_cont_port }}

watched_keys: {{ eth_val_watcher_validators }}
